.highlight-effect {
    position: relative;
    max-width: max-content;
    color: black;
}

.highlight-effect::before {
    content: "";
    background: rgb(0, 242, 255);
    width: 100%;
    height: 50%;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .5s;
}

.highlight-effect:hover:before {
    transform: scaleX(1);
}