.gallery-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    padding: 2em,0em;
  }

/* @media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
} */
  

  .hover-card {
    position: relative;
    display: block;
    aspect-ratio: 2 / 3;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgb(50, 50, 200, 0.25);
    z-index: 1;
    opacity: 0;
    transition: all .25s;
  }

  .hover-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hover-card:hover .overlay {
    opacity: 1;
  }
  /* .img-overlay {
    background: rgb(50, 50, 200, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition:  0.5s;
    display: block;
   
  } */
  
  .img-container:hover .img-overlay {
    background: rgb(50, 50, 200, 0.25);
  }
  
  
  
